// COLORS
:root {
  --color-black: #000;
  --color-white: #fff;

  --color-active: #53b9ef;

  --color-cloud: #dceffa;
  --color-footer: #1a5245;

  --color-title: #333;
  --color-text-main: #666;
  --color-text-prices-img: #593f21;
  --color-text-accent: #fea93a;

  --color-input-border: #dedede;
  --color-input-bg: #fafafa;

  --color-header-bg: #fffcf7;
  --color-shadow: rgba(0, 0, 0, 0.1);
}
